@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins&display=swap');
* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body, #submit-btn:active, #header-container {
    background-color: #fafafa;
}
#header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #dbdbdb;
}
#left-title, #middle-title {
    font-size: 2vw;
    font-weight: bold;  
}
#rand-fact-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 300px;
    padding: 10px;
}
#rand-fact-text {
    font-size: 1.7vw;
}
#submit-block, #rand-fact-container {
    justify-content: center;
    text-align: center;
}
#submit-btn {
    font-weight: bold;
    font-size: 16px;
    width: 30%;
    margin: auto 0;
    height: 50px;
    color: #000000;
}
#submit-btn:hover {
    cursor: pointer;
}
#rand-fact-container, #submit-btn {
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
}
@media only screen and (max-width: 900px) {
    #left-title, #middle-title {
        font-size: 16px;
        padding-top: 5px;
    }
    #rand-fact-text {
        font-size: 2.5vw;
    }
}
@media only screen and (max-width: 600px) {
    #rand-fact-text {
    font-size: 3.5vw;
    }
}
